[Desktop Entry]
Name=AleVT
Comment=Teletext decoder and browser
Comment[pl]=Dekoder oraz przeglądarka teletekstu
Exec=alevt
Icon=alevt
Terminal=false
Type=Application
Categories=Video;TV;
# vi: encoding=utf-8
